body {
  font-family: Arial;
  text-align: center;
}

form {
  width: 250px;
  margin: auto;
}

input, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

.error {
  color: red;
  font-size: 12px;
}
